@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,800&display=swap");

/* shared styles */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
main,
footer {
  padding: 0 140px;
}
.btn-primary {
  padding: 1.25rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.section-heading {
  color: #131313;
  font-size: 2.82rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.section-description {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1.875rem;
}

/* Header styles */
header {
  padding: 3.125rem 8.75rem;
  background: rgba(255, 144, 14, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .title {
  color: #131313;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}
header nav ul {
  display: flex;
  gap: 4.4rem;
  list-style: none;
}
header nav ul li a {
  color: #424242;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}
.header-content-title {
  font-size: 4rem;
}
.header-content {
  margin: 6.25rem 0 3.125rem 0;
  text-align: center;
}

.header-img-container img {
  width: 100%;
  object-fit: cover;
}

/* Team section styles */

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
}
.team > div {
  width: 47%;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-image img {
  width: 100%;
  object-fit: cover;
}
.team-content h2 span:first-child {
  color: #727272;
}
.team-content h2 span:last-child {
  color: #ff900e;
}

/* Features section Styles */
.features {
  margin: 130px 0;
  display: flex;
  justify-content: space-between;
}

.feature-image {
  width: 45%;
}
.feature-content {
  width: 48%;
}

.feature-img-container img {
  width: 100%;
}

.card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 1.25rem;
  padding: 1.875rem;
}
.card-heading {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
}
.card-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.top-img-box {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  padding: 45px 42px;
  width: 44%;
  position: relative;
  bottom: 75px;
  right: 58px;
}
/* Fact section starts */
.facts {
  margin: 130px 0 180px 0;
}
.fact-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.fact-card {
  padding: 35px 45px 60px 35px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
}
.card-number {
  margin-bottom: 10px;
}

/* Sponsor section styles */
.sponsors {
  margin-bottom: 130px;
}
.sponsor-content {
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.sponsor-img-container {
  text-align: center;
}

/* Footer section styles */
footer {
  margin-bottom: 150px;
}
.footer-content {
  border-radius: 8px;
  background: #fff4e7;
  padding: 40px;
}
.footer-text {
  color: #424242;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Responsive Styles */

@media screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding: 1.5rem;
  }
  header nav,
  /* .fact-cards, */
  .features,
  .team {
    flex-direction: column;
    gap: 20px;
  }
  .header-content {
    margin-top: 4.25rem;
  }
  .header-content-title {
    font-size: 2.5rem;
  }

  header nav ul {
    gap: 15px;
  }
  .team > div,
  .fact-card,
  .feature-image,
  .feature-content {
    width: 100%;
  }
  .top-img-box {
    right: 0;
  }
  .fact-cards,
  .sponsors-logo {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-img-container {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .header-content-title {
    font-size: 2rem;
  }
  .fact-cards,
  .team-images,
  .sponsors-logo {
    grid-template-columns: repeat(1, 1fr);
  }
}
